
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/CssPropio.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/datatables.css" rel="stylesheet" />
<h2>Creacion de Tareas</h2>
<label>BUSCAR POR PRIORIDAD</label>
<br />
<label for="selectBuscarP">Prioridad de Tarea</label>
<select id="selectBuscarP" class="form-control">
    <option value="0">ELIGE UNA PRIORIDAD</option>
    <option value="3">Alta</option>
    <option value="2">Media</option>
    <option value="1">Baja</option>
</select>
<button id="btnBuscar" class="btn btn-danger">BUSCAR</button>
<button id="btnLimpiar" class="btn btn-warning">LIMPIAR</button>
<br />

@*formulario*@
<form id="formulario">
    <div class="form-group">
        <label for="titulo">Titulo</label>
        <input id="titulo" type="text" class="form-control" placeholder="Tu titulo" required>
    </div>
    <div class="form-group">
        <label for="estado">Estado de Tarea</label>
        <select id="estado" class="form-control">
            <option value="1">Pendiente</option>
        </select>
    </div>
    <div class="form-group">
        <label for="notas">Notas:</label>
        <input id="notas" type="text" class="form-control" placeholder="Anota algo importante" required>
    </div>
    <div class="form-group">
        <label for="prioridad">Prioridad de Tarea</label>
        <select id="prioridad" class="form-control " required>
            <option value="3">Alta</option>
            <option value="2">Media</option>
            <option value="1">Baja</option>
        </select>
    </div>
    <div class="form-group" style="display: none">
        <label for="fechacreacion">Fecha Creacion</label>
        <input id="fechacreacion" class="form-control" type="datetime-local" disabled>
    </div>
    <div class="form-group" style="display: none">
        <label for="fechatermino">Fecha Termino</label>
        <input id="fechatermino" class="form-control" type="datetime-local" disabled>
    </div>
    <button type="submit" id="btnGuardar" class="btn btn-primary">Crear</button>
</form>
@*fin formulario*@
@*tabla*@
<div id="tabla">

</div>
@*fin tabla*@

@* modal oculto *@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel"></h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="idn" class="control-label">ID:</label>
                        <input id="idn" type="text" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="titulon" class="control-label obligatorio">Titulo:</label>
                        <input id="titulon" type="text" class="form-control obligatorio borrar" required>
                    </div>
                    <div class="form-group">
                        <label for="estadon">Estado de Tarea</label>
                        <select id="estadon" class="form-control">
                            <option value="1">En proceso</option>
                            <option value="2">Terminano</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="notasn">Notas:</label>
                        <input id="notasn" type="text" class="borrar form-control obligatorio" placeholder="Anota algo importante" required>
                    </div>
                    <div class="form-group">
                        <label for="prioridadn">Prioridad de Tarea</label>
                        <select id="prioridadn" class="borrar form-control obligatorio" required>
                            <option value="3">Alta</option>
                            <option value="2">Media</option>
                            <option value="1">Baja</option>
                        </select>
                    </div>
                    <div class="form-group" >
                        <label for="fechacreacionn">Fecha Creacion</label>
                        <input id="fechacreacionn" class="form-control" type="text" >
                    </div>
                    <div class="form-group" >
                        <label for="fechaterminon">Fecha Termino</label>
                        <input id="fechaterminon" class="form-control" type="text" >
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="Editar()" id="actualizar" class="btn btn-primary">Actualizar</button>
            </div>
        </div>
    </div>
</div>
@* fin de modal oculto *@
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="joder">Open modal for mdo</button>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@*<script src="~/Scripts/Tarea.js"></script>*@
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/TareaDatabase.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
<script>

</script>