
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/datatables.css" rel="stylesheet" />
<h2>Index Alumno</h2>
<label>Seleccione Sexo:</label>
<select id="select">
</select>
<input type="button" id="btnConsultar" value="Buscar"/>

<div id="tabla">

</div>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Alumno.js"></script>
<script src="~/Scripts/datatables.min.js"></script>