
@{
    ViewBag.Title = "ComboBoxJS";
}

<h2>ComboBoxJS vista</h2>

<select id="select">

</select>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/ComboBox.js"></script>